header {
 font-size: 2rem;
 align-self: center;
}

body, html {
    height: 100%;
    background-color: bisque;
}


.y-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav-bar {
   justify-content: space-evenly;
}

#startQuiz { 
    background-color: rgb(154, 87, 157);
} 

.flex-item {
    background-color: rgb(14, 26, 26);
    justify-content: center;
}

.bg {
    display: flex;
    margin: 1%;
}

.characterQuote {
    flex: 1;
    width: 40vw;
    height: 10vh;
}

.quotes {
    background-color: rgb(84, 165, 183);
    flex-direction: column;
    padding: .50%;
}

.quotes div {
    flex: 1;
}

.ca button {
    flex: 1;
}


.ca {
    background-color: rgb(74, 102, 158);
    flex-wrap: wrap;
    padding: .50%;
    
}

.buttons {
    display: flex;
    align-self: center;
}

.author {
    height: 100%;
    width: 20vw;
}

#jon-snow {
    height: 50vh;
    width: 45vw;
}

#walter-white {
    height: 50vh;
    width:  45vw;
}

#instructions {
    font-size: 1.2rem;
}


@media only screen and (max-width:768px) {
   .author {
    width: 48vw;
   }

   .characterQuote {
    height: 15vh;
   }

   #jon-snow {
    width: 43vw;
    height: 20vh;
   }

   #walter-white {
    width: 43vw;
    height: 20vh;
   }

   #character-author {
    display: flex;
    justify-content: center;
   }
}
/*vw is based on the screen size
/* % is based off of the element size